<form action="<%= carro.new_record? ? carros_criar_path : carros_alterar_path(carro) %>" method="post">
  <!--
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <h2>Confira o erro abaixo:</h2>
      <ul>
        <li><%= flash[:error] %></li>
      </ul>
    </div>
  <% end %>
  -->

  <% if carro.errors.any? %>
    <div style="color: red">
      <h2>
        Existe <%= pluralize(carro.errors.count, "erro(s)") %>:
      </h2>
      <ul>
        <% carro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <% unless carro.new_record? %>
    <input type="hidden" name="_method" value="put">
  <% end %>
  <div>
    <strong>Nome</strong>
    <input type="text" class="form-control" name="nome" value="<%= carro.nome %>">
  </div>
  <div>
    <strong>Modelo</strong>
    <input type="text" class="form-control" name="modelo" value="<%= carro.modelo %>">
  </div>
  <div>
    <strong>Ano</strong>
    <input type="text" class="form-control" name="ano" value="<%= carro.ano %>">
  </div>
  <hr>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <a href="/carros" class="btn btn-warning">Voltar para a lista</a>
</form>