<div id="<%= dom_id fornecedor %>">
  <p>
    <strong>Tipo:</strong>
    <%= fornecedor.fornecedor_tipo&.nome %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= fornecedor.nome %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= fornecedor.cnpj %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= fornecedor.endereco %>
  </p>

  <p>
    <strong>Data Criação:</strong>
    <%= formata_data(fornecedor.created_at) %>
  </p>

  <p>
    <%= link_to 'Cadastrar endereços', fornecedor_fornecedores_enderecos_path(fornecedor) %>
  </p>
</div>
