<p style="color: green"><%= notice %></p>

<%= render @fornecedores_enderecos %>

<div>
  <%= link_to "Edit this fornecedores enderecos", edit_fornecedores_enderecos_path(@fornecedores_enderecos) %> |
  <%= link_to "Back to fornecedores enderecos", fornecedor_fornecedores_enderecos_path(@fornecedor) %>

  <%= button_to "Destroy this fornecedores enderecos", @fornecedores_enderecos, method: :delete %>
</div>
